* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
div {
  width: 9.6rem;
  height: 1.33333333rem;
  background: red;
}
p {
  margin-top: 150px;
  width: 100%;
  height: 1px;
  background: #ccc;
}
